body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#wavecontainer {
  margin: 10px;
  perspective: 1000px;
  height: 100px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position:sticky;
  top: 20px;
  z-index: 3;
  backdrop-filter: blur(10px);
}
#waveform {

  
    width: 80%;
    border-radius: 10px;
    box-shadow: rgb(204, 204, 204) 5px 5px 10px 0px;
    min-height: 100px;
    background-color: rgb(247, 247, 247);
    transition: .5s;
}
#waveform:hover {
  
  
  transform: scale(1.1) rotateX(20deg);
}
cursor {
  height: 100%;
  color: brown;
}
.notes {
  background-color: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

input[type=file]::file-selector-button {
  
  border: none;
  height: 30px;
  color: white;
  background-color: black;
  cursor: pointer;
  border-radius: 5px;
}
input[type=file]::file-selector-button:hover {
  color: red;
}
body {
  padding-top: 20px;
}
.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:linear-gradient(rgb(216, 216, 216),white) ;
  transition: all .2s;
  
}
.upload:hover {
  transform: scale(1.1);
}
.upload button{
  border: none;
  background-color: black;
  color: white;
}
.upload button:hover{
  color: red;
  cursor: pointer;
}
.upload h1 {
  font-size: medium;
}